{% extends "layout/base.html" %}
{% load static %}


{% block content %}
<h4>Список визитов</h4>


<form method="get">
    
    {% csrf_token %}
    <p> Kam 
        <select name="kamid" class="filter">
            <option value="" selected>Все</option>
          
            <option value="1">Жанна</option>
            <option value="2">Наталья</option>
            <option value="3">Анастасия</option>
            <option value="5">Москва</option>
            <option value="7">Мария</option>
            <option value="8">Наталья</option>
            <option value="9">Дарья</option>
            <option value="11">Светлана</option>

          </select>
        </p>    
        

    <p> Категория врача
    <select name="category_account" class="filter">
        <option value="" selected>Все</option>
      
        <option value="A">A</option>
      
        <option value="B">B</option>
      
        <option value="C">C</option>
      
        <option value="D">D</option>
      
      </select>
    </p>

    <p> Статус визита
        <select name="vizit_status" class="filter">
            <option value="" selected>Все</option>
          
            <option value="Закрыт">Закрыт</option>
          
            <option value="Открыт">Открыт</option>
          
          </select>
        </p>

    <p><input type="submit" name="Применить фильтр" value="Применить фильтр"/></p>
</form>


<div id="visit list">
    <table width = "100%">
        <thead>
            <tr>
        <th>Kam</th>
        <th>Тип визита</th>
        <th>Организация</th>
        <th>Контакт</th>
        <th>Дата визита</th>
        <th>Статус визита</th>
            </tr>
        </thead>
        <tbody>
            {% for n in Vizit %}
            
            <tr>
            <td> <a href="{% url 'Vizit:VisitEdit' n.id %}">  {{ n.kamid }} </a> </td>
            <td> <a href="{% url 'Vizit:VisitEdit' n.id %}">  {{ n.viztype }} </a> </td>
            <td>  {{ n.hint_organization }}  </td>
            <td> <a href="{% url 'Vizit:VisitEdit' n.id %}">  {{ n.contact }} </a> </td>
            <td>  {{ n.datefact }}  </td>
            <td>  {{ n.vizstatus }}  </td>

            </tr>
            {% endfor %}
            
        </tbody>
    </table>


</div>

<div class="pagination" style="margin:1em;">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a style="margin:1em" href="?page=1">&laquo Первая </a>
            <a style="margin:1em" href="?page={{ page_obj.previous_page_number }}"> Предыдущая </a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a style="margin:1em" href="?page={{ page_obj.next_page_number }}"> Следующая</a>
            <a style="margin:1em" href="?page={{ page_obj.paginator.num_pages }}"> Последняя &raquo; </a>
        {% endif %}
    </span>
</div>


{%endblock%}
